.at-section__title {
  margin: 0 0 70px;
  color: #eac0c0;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 4.625rem;
  text-align: center;
}
.at-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFF;
  border: 1px solid #E2E9ED;
}
.at-grid[data-column="1"] .at-column {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.at-grid[data-column="2"] .at-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.at-grid[data-column="3"] .at-column {
  width: 33.33333%;
  max-width: 33.33333%;
  min-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}
.at-grid[data-column="4"] .at-column {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.at-grid[data-column="5"] .at-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.at-grid[data-column="6"] .at-column {
  width: 16.66667%;
  max-width: 16.66667%;
  min-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}
.at-grid[data-column="7"] .at-column {
  width: 14.28571%;
  max-width: 14.28571%;
  min-width: 14.28571%;
  -ms-flex-preferred-size: 14.28571%;
      flex-basis: 14.28571%;
}
.at-grid[data-column="8"] .at-column {
  width: 12.5%;
  max-width: 12.5%;
  min-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
}
.at-grid[data-column="9"] .at-column {
  width: 11.11111%;
  max-width: 11.11111%;
  min-width: 11.11111%;
  -ms-flex-preferred-size: 11.11111%;
      flex-basis: 11.11111%;
}
.at-column {
  z-index: 0;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 0 1px #E2E9ED;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}
.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.at-column:hover .at-social {
  margin: 16px 0 0;
  opacity: 1;
}
@media (max-width: 800px) {
  .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
  }
}
@media (max-width: 600px) {
  .at-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
}
.at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
}
.at-user__avatar {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.at-user__name {
  color: #313435;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}
.at-user__title {
  color: #6F808A;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}
.at-social {
  margin: 0 0 -18px;
  opacity: 0;
  -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.at-social__item {
  display: inline-block;
  margin: 0 10px;
}
.at-social__item a {
  display: block;
}
.at-social__item svg {
  fill: #515F65;
  display: block;
  height: 18px;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.at-social__item svg:hover {
  fill: #788D96;
}

body {
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 100px auto;
  padding: 0 20px;
  box-sizing: border-box;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
/* Reset */
@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
/* Extenders */
.clearfix:after, .panel .panel-element .element-content .content-post:after, .panel .panel-element .element-actions:after {
  content: '';
  display: table;
  clear: both;
}

.animate, .panel .panel-element .element-content, .panel .panel-element .element-content .btn-more, .panel .panel-element .element-actions .btn-action, .panel .panel-element .element-actions .btn-action > i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* General */
button {
  display: block;
  background: transparent;
  border: 0;
  cursor: pointer;
}

body {
  background-image: url(../img/flatw.jpg);
  background-size: cover;
}

h1 {
  display: block;
  background-color: #fff;
  width: 100%;
  line-height: 1;
  margin-bottom: 20px;
  padding: 65px 50px;
  font-weight: 700;
  font-size: 32px;
  color: #6F6F6F;
}

.panel {
  margin: 0 auto;
  padding: 30px 20px;
}
.panel .panel-element {
  position: relative;
  border-radius: 50px;
  opacity: 0.8;
}
.panel .panel-element .element-content {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #d6d6d6;
  position: relative;
  border-radius: 20px;
  right: 0;
  z-index: 2;
}
.panel .panel-element .element-content .btn-more {
  width: 30px;
  height: 30px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.panel .panel-element .element-content .btn-more > i {
  font-size: 16px;
  color: #929292;
  vertical-align: middle;
}
.panel .panel-element .element-content .btn-more .icon-open,
.panel .panel-element .element-content .btn-more .icon-hearted {
  display: none;
}
.panel .panel-element .element-content .btn-more:hover {
  background-color: #F9F9F9;
}
.panel .panel-element .element-content .content-post .post-avatar {
  background-color: #ededed;
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
}
.panel .panel-element .element-content .content-post .post-content {
  margin-left: 75px;
  padding-top: 9px;
}
.panel .panel-element .element-content .content-post .post-content .post-title,
.panel .panel-element .element-content .content-post .post-content .post-body {
  display: block;
}
.panel .panel-element .element-content .content-post .post-content .post-title {
  font-size: 14px;
  color: #AFADAD;
}
.panel .panel-element .element-content .content-post .post-content .post-body {
  margin-top: 5px;
  font-size: 12px;
  color: #CCCBCB;
}
.panel .panel-element .element-content:hover .btn-more {
  opacity: 1;
}
.panel .panel-element .element-actions {
  width: 100px;
  height: 45px;
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.panel .panel-element .element-actions .btn-action {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}
.panel .panel-element .element-actions .btn-action > i {
  font-size: 20px;
}
.panel .panel-element .element-actions .btn-action.btn-hide {
  border-color: #34495e;
}
.panel .panel-element .element-actions .btn-action.btn-hide > i {
  color: #34495e;
}
.panel .panel-element .element-actions .btn-action.btn-hide:hover {
  background-color: #34495e;
}
.panel .panel-element .element-actions .btn-action.btn-heart {
  border-color: #e74c3c;
}
.panel .panel-element .element-actions .btn-action.btn-heart > i {
  color: #e74c3c;
}
.panel .panel-element .element-actions .btn-action.btn-heart:hover {
  background-color: #e74c3c;
}
.panel .panel-element .element-actions .btn-action:not(:last-child) {
  margin-right: 10px;
}
.panel .panel-element .element-actions .btn-action:hover > i {
  color: #fff;
}
.panel .panel-element:not(:first-child) {
  margin-top: 15px;
}
.panel .panel-element.panel-element-open .element-content {
  right: 140px;
}
.panel .panel-element.panel-element-open .element-content .btn-more {
  opacity: 1;
}
.panel .panel-element.panel-element-open .element-content .btn-more .icon-closed {
  display: none;
}
.panel .panel-element.panel-element-open .element-content .btn-more .icon-open {
  display: inline-block;
}
.panel .panel-element.panel-element-hearted .element-actions .btn-action.btn-heart {
  background-color: #e74c3c;
}
.panel .panel-element.panel-element-hearted .element-actions .btn-action.btn-heart > i {
  color: #fff;
}
.panel .panel-element.panel-element-hearted .element-content .btn-more {
  opacity: 1;
}
.panel .panel-element.panel-element-hearted .element-content .btn-more > i {
  color: #e74c3c;
}
.panel .panel-element.panel-element-hearted .element-content .btn-more .icon-open,
.panel .panel-element.panel-element-hearted .element-content .btn-more .icon-closed {
  display: none;
}
.panel .panel-element.panel-element-hearted .element-content .btn-more .icon-hearted {
  display: inline-block;
}

@media screen and (max-width: 500px) {
  h1 {
    margin-bottom: 0;
    padding: 40px;
    font-size: 25px;
  }

  .panel .panel-element .element-content .btn-more {
    opacity: 1;
  }
  .panel .panel-element .element-content .btn-more:hover {
    background-color: transparent;
  }
}
